{% extends 'users/base.html' %}
{% block content %}
<style>
    body {
        padding: 20px;
        font-family: Poppins;
    }
    form {
        margin: 80px auto;
        display: flex;
        gap: 20px;
        max-width: 300px;
        width: 100%;
    }
    .input-group {
        position: relative;
        --y: 10px;
        --x: 15px;
        margin: var(--x);
    }
    input {
        border: 1px solid black;
        width: 100%;
        padding: var(--y) var(--x);
    }
    label {
        position: absolute;
        left: var(--x);
        top: calc(var(--y) - 4px);
        background-color: white;
        padding: 0 6px;
        transform: top 300ms, border-color 300ms, color 300ms;
    }
    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
        font-size: 14px;
        color: green;
        border: green;
        top: calc(var(--y) * -0.8);
    }

</style>
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center mt-5">
            <div class="">
                <h2 class="text-center">Sign Up today</h2>
                <form>

                    <!-- First Name -->
                    <div class="input-group position-relative">
                        <input type="text" id="firstName" name="firstName" placeholder="" required>
                        <label for="firstName" class='position-absolute'>First Name</label>
                    </div>

                    <!-- Last Name -->
                    <div class="input-group position-relative">
                        <input type="text" id="lastName" name="lastName" placeholder="" required>
                        <label for="lastName" class='position-absolute'>Last Name</label>

                    </div>
                
                    <!-- Email -->
                    <div class="input-group position-relative">
                        <input type="email" id="email" name="email" placeholder="" required>
                        <label for="email" class='position-absolute'>Email</label>
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group position-relative">
                        <input type="tel" id="phoneNumber" name="phoneNumber"  placeholder="" required>
                        <label for="phoneNumber" class='position-absolute'>Phone Number</label>
                    </div>
                
                    <div>
                    <!-- Address -->
                    <div class="input-group position-relative">
                        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="" required>
                        <label for="Address" class='position-absolute'>Address</label>
                    </div>

                    <!-- Password -->
                    <div class="input-group position-relative">
                        <input type="password" id="password" name="password" placeholder="" required>
                        <label for="password" class='position-absolute'>Password</label>
                    </div>

                    <!-- Confirm Password -->
                    <div class="input-group position-relative">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="" required>
                        <label for="confirmPassword" class='position-absolute'>Confirm Password</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </form>
</div>
{% endblock content %}